<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="images/logo-pr.png" alt="">
                </span>

                <div class="text header-text">
                    <span class="name">Proms</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/fmeaEngineer">
                            <i class='bx bxs-notepad icon'></i>
                            <span class="text nav-text">FMEA Engineer</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/fmeaMekanik">
                            <i class='bx bxs-edit icon'></i>
                            <span class="text nav-text">FMEA Mekanik</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/ttfTtr">
                            <i class='bx bxs-time-five icon'></i>
                            <span class="text nav-text">TTF & TTR</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/analisis">
                            <i class='bx bxs-calculator icon'></i>
                            <span class="text nav-text">Analisis Kuantitatif</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>