<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Software</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Manual CSS -->
    <link rel="stylesheet" href="/stylesheets/fmea.css">
</head>


<body>
    <section class="wrapper">
        <h2>FMEA MEKANIK</h2>
        <div>
            <% if (messages.success) { %>
                <p class="alert alert-success m2-4 mb-2"><%- messages.success %></p>
                <% } %>
            <form action="/fmeaMekanik" method="POST">
                <div class="mb-3">
                    <label for="komponenDataList" class="form-label">ID Komponen</label>
                    <input type="number" class="form-control" id="komponen" name="komponen" required>  
                </div>
                <div class="mb-3">
                    <label for="severity" class="form-label">Severity</label>
                    <input type="number" class="form-control" id="severity" name="severity" required>
                </div>
                <div class="mb-3">
                    <label for="occurence" class="form-label">Occurence</label>
                    <input type="number" class="form-control" id="occurence" name="occurence" required>
                </div>
                <div class="mb-3">
                    <label for="detection" class="form-label">Detection</label>
                    <input type="number" class="form-control" id="detection" name="detection" required>
                </div>

                <div class="button-wrapper d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>

            </form>
        </div>
    </section>

</body>
<!-- JQuery JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Manual JS -->
<script src="/javascripts/dashboard.js"></script>
<!-- FontAwesome JS -->
<script src="https://kit.fontawesome.com/7441451cf7.js" crossorigin="anonymous"></script>

</html>