.wrapper{
    margin-top: 32px;
    margin-left: 275px;
    padding: 32px;
    border-radius: 20px;
    width: 960px;
    background-color: white;
    height: 480px;
    overflow-y:auto;
}

*{
    font-weight: normal;
}

th{
    font-size: 16px;
}