.wrapper-table{
    margin-top: 100px;
    margin-left: 100px;
    padding: 32px;
    border-radius: 20px;
    width: 720px;
    background-color: white;
    height: 480px;
    overflow-y: auto;
}

.wrapper-form{
    position: absolute;
    top: 0px;
    left: 750px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 32px;
    border-radius: 20px;
    width: 450px;
    background-color: white;
}

.btn-submit{
    margin-left: 16px;
    width: 100px;
}

.button-wrapper{
    margin-top: 32px;
}