.wrapper-table{
    margin-top: 32px;
    margin-left: 275px;
    padding: 32px;
    border-radius: 20px;
    width: 960px;
    background-color: white;
    height: 480px;
    overflow-y: auto;
}

.wrapper-form{
    margin-top: 32px;
    margin-left: 275px;
    padding: 32px;
    border-radius: 20px;
    width: 960px;
    background-color: white;
}

.btn-submit{
    margin-left: 16px;
    width: 100px;
}

.button-wrapper{
    margin-top: 32px;
}